/* ╔════════════════════════════════════╗ */
/* ║         FORMULARI MANIQUÍ          ║ */
/* ╚════════════════════════════════════╝ */

.f-form {
  width: 1200px;                /* Ancho */
  height: 800px;               /* Alto */
  background-color: #FFFFFF;   /* BackColor */
  box-shadow: rgba(81, 82, 83, 0.5) 0px 0px 10px 2px;  /* Sombra (X,Y,Blur,Spread,Color,Opacitat) */
  padding: 0px;               /* Insert (interior padding) */
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

/* ╔════════════════════════════════════╗ */
/* ║             CAPÇALERA              ║ */
/* ╚════════════════════════════════════╝ */

.f-head {
  height: 30px;                /* Altura */
  background-color: #FFFFFF;   /* Backcolor */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.f-head-text-left,
.f-head-text-center,
.f-head-text-right {
  font-family: sans-serif;     /* Font */
  font-size: 16px;             /* Size */
  font-weight: normal;         /* Bold */
  font-style: normal;          /* Italica */
  text-decoration: none;       /* Subratllat */
  color: #000000;              /* Color */
  padding: 0 5px
}
.f-head-text-left {text-align: left;}
.f-head-text-center {text-align: center;}
.f-head-text-right {text-align: right;}

/* ╔════════════════════════════════════╗ */
/* ║               MENU                 ║ */
/* ╚════════════════════════════════════╝ */
.f-menu {
  border: 0px solid #aaaaaa;
  height: 30px;                /* Altura */
  background-color: #dddddd;   /* BackColor */
  box-shadow: rgba(20, 20, 20, 0.6) 0px 0px 4px 0px;
  font-family: sans-serif;     /* Font */
  font-size: 14px;             /* Size */
  display: flex;
  align-items: center;
  padding: 0 10px;             /* Insert (separació lateral) */
  gap: 10px;
}

/* Opció de menú individual */
.f-menu-opcio-act,
.f-menu-opcio-des,
.f-mrnu-opcio-sel {
  cursor: pointer;
  transition: 0.2s ease;
}
.f-menu-opcio-act {
  padding: 5px 7px;
  color: #000000;              /* FontColor */
  border: 0px solid #aaaaaa;   /* BordeColor */
  border-radius: 5px;          /* Ratio */
  background-color: #ffffff00;   /* BackColor */
  font-weight: normal;
  font-style: normal;          /* Italica */
  text-decoration: none;       /* Subratllat */
}
	
.f-menu-opcio-des {
  padding: 5px 7px;
  color: #808080;              /* FontColor */
  border: 0px solid #aaaaaa;   /* BordeColor */
  border-radius: 5px;          /* Ratio */
  background-color: #ffffff00;   /* BackColor */
  font-weight: normal;
  font-style: normal;          /* Italica */
  text-decoration: none;       /* Subratllat */
}
.f-menu-opcio-sel {
  padding: 5px 7px;
  color: #000000;              /* FontColor */
  border: 1px solid #aaaaaa;   /* BordeColor */
  border-radius: 5px;          /* Ratio */
  background-color: #ffffff00;   /* BackColor */
  font-weight: bold;
  font-style: normal;          /* Italica */
  text-decoration: none;       /* Subratllat */
}  
 .f-marc{
    position: absolute;
    padding: 1px 12px;
    z-index: 10;
	background-color: #f0f0ff80;   /* BackColor */
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: #00000080 3px 3px 8px 3px;
    display: none;
 }
.f-sb-opc-enabled,
.f-sb-opc-disabled,
.sel {
  margin: 3px 5px;
  padding: 0 5px;
}
.f-sb-opc-enabled {
  color: #000;
}
.f-sb-opc-disabled {
  color: #606060;
}
/* Si vols diferenciar el "select" afegeixes una altra classe o selector */
.f-sb-opc-enabled.sel {
  background-color: #b8c3ff;
  border-radius: 5px;
 }
.f-sb-opc-disabled.sel {
  background-color: #d8d8d8;
  border-radius: 5px;
}
.f-sb-sep {
  border-bottom: 1.5px solid #ccc;
  margin: 2px 0;
}
